.minute-space {
    border-left: 1px solid lightgray;
    margin-left: 80px;

    &.break {
        background-color: #006a6a;
    }
    &.work {
        background-color: #6a5000;
    }
}

.hour-boundary {
    border-top: 1px solid lightgray;
    box-sizing: border-box;

    p {
        position: absolute;
        left: 28px;
    }
}

.top-boundary {
    .hour-boundary {
        border: none;
    }
}


.container {
    margin: 0px 10px;
    border: 1px solid gray;
    border-radius: 10px;
}