.progress-bar {
    height: 700px;
    width: 85px;
    display: flex;
    flex-flow: column-reverse;
    position: relative;

    .caption {
        margin: auto;
        text-align: center;
        position:absolute;
        left: 30%;
        top: 45%;
    }
}