section {
    display: flex;

    .chart {
        width: 30%;
        height: 700px;
        margin-top: 40px;
    }

    .time-entry {
        width: 50%;

        &.in-progress {
            display: none;
        }
    }
}

app-progress-bar {
    margin-left: 35px;
    margin-top: 70px;
}