.container {
    width: 50vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .button-container {
        display: flex;
        flex-flow: column;
    }

    button {
        margin: 10px;
    }

    b {
        color: rgb(207, 159, 159)
    }

    h1 {
        font-size: 32px;

        &.over-time {
            color: red;
        }
    }

    h2 {
        text-align: center;
    }
}