html, body {
    margin: 0;
    background-color: #101414;
}

div, h1, h2, h3, h4, h5, p, b, span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
